<html>
    <head>
        <title>Articles</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/article1.css' %}">
    </head>
    <body>
    <div class="container">
    <div class="art">
        <h1><a href="/">Статьи:</a></h1>

        <ul class="ssilki">
            <li><a href="/article/1">Статья №1</a></li>
            <li><a href="/article/2">Статья №2</a></li>
            <li><a href="/article/3">Статья №3</a></li>
        </ul>
    </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
